.sidebar .sidebar-wrapper{background-color: #775f54;}
.sidebar .logo{background-color: #775f54;}
.sidebar .sidebar-wrapper .nav>li.active>a{background-color: #5c443a; box-shadow: none;}
.sidebar .sidebar-wrapper .nav>li.nav-item>a:hover{background-color: #5c443a; box-shadow: none;}
.sidebar .sidebar-wrapper .nav>li.nav-item>a{color: #ffffff;}
.fz26{font-size: 26px;}
.fz35{font-size: 35px;}
.base_color{color: #986651;}
.custom_switch .togglebutton label .toggle, .togglebutton label input[type=checkbox][disabled]+.toggle{width: 50px; height: 30px;}
.custom_switch .togglebutton label .toggle:after{    width: 25px; height: 25px; left: 1px; top: 2px;} 
.custom_switch .togglebutton label input[type=checkbox]:checked+.toggle:after{left: 24px;} 
.navbar.navbar-transparent{background-color: #ffffff !important;}
.custom_nav{border-bottom: 1px solid #d5d5d5;}
.page_data{background-color: #eaeef2; margin-top: 61px !important;}
.btn_custom{border-radius: 30px;background-color: #775f54;border: 1px solid #775f54; font-size: 15px;}
.btn_custom:hover{background-color: #ffffff; color: #775f54; border: 1px solid #775f54;}
.img_upload{background-color: #c1c1c1; border: 1px solid #c1c1c1; width: 100%; height: 234px;}
.img_upload>label{width: 100%; height: 234px; text-align: center;}
.img_upload>label>.fa-upload{font-size: 100px;padding-top: 25%;}
.col_image{position: relative;}
.col_image>.hover_icon{position: absolute; top: 45%; display: none;left: 0; right: 0; margin: auto; text-align: center;} 
.col_image>.hover_icon>a{display: inline-block; padding: 5px; width: 36px; height: 36px; background: #fbd311; border-radius: 50%; color: #5c443a; text-align: center;}
.col_image:hover .hover_icon{display: block;}
.img_hover:hover .data_img{-webkit-filter: brightness(0.30);filter: brightness(0.30);}
.sidebar .nav li .nav-link i.fa{color: #ffffff !important;}
.btn.btn-info{background-color: #5c443a; border-color: #5c443a; box-shadow: 0 2px 2px 0 rgba(46, 47, 47, 0.14), 0 3px 1px -2px rgba(50, 51, 51, 0.2), 0 1px 5px 0 rgba(32, 33, 33, 0.12);}
.btn.btn-info:focus, .btn.btn-info:active, .btn.btn-info:hover, .btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show>.btn-info.dropdown-toggle{background-color: #5c443a; border-color: #5c443a; box-shadow: 0 2px 2px 0 rgba(46, 47, 47, 0.14), 0 3px 1px -2px rgba(50, 51, 51, 0.2), 0 1px 5px 0 rgba(32, 33, 33, 0.12);}
.togglebutton label input[type=checkbox]:checked+.toggle {background-color: rgb(92, 68, 58);}
.togglebutton label input[type=checkbox]:checked+.toggle:after {border-color: #5c443a;}

#img_view .modal-content .card img{display: block;margin-left: auto;margin-right: auto;width: 100%;}

.col_image.img_hover .data_img{height: 234px;}