.tim-typo {
  padding-left: 25%;
  margin-bottom: 40px;
  position: relative;
  width: 100%;
}

.tim-typo .tim-note {
  bottom: 5px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  left: 0;
  margin-left: 20px;
  position: absolute;
  width: 260px;
}

/* offline-doc */

.offline-doc .navbar.navbar-transparent {
  padding-top: 25px;
  border-bottom: none;
}

.offline-doc .navbar.navbar-transparent .navbar-minimize {
  display: none;
}

.offline-doc .navbar.navbar-transparent .navbar-brand,
.offline-doc .navbar.navbar-transparent .collapse .navbar-nav .nav-link {
  color: #FFFFFF !important;
}

.offline-doc .footer {
  z-index: 3 !important;
}

.offline-doc .page-header .container {
  z-index: 3;
}

.offline-doc .page-header:after {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

#map {
  z-index: 2;
  height: calc(100vh - 70px);
  margin-top: 70px;
}


.parentSidebarRight{padding: 20px;}
.page_loader_wrap{display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; position: fixed; background: #775f54; z-index: 3333; top: 0; left: 0; right: 0;}
.textLoader {
    position: relative;
    color: rgba(0, 0, 0, .3);
    font-size: 5em
}
.textLoader:before {
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    max-width: 7em;
    white-space: nowrap;
    color: #fbd311;
    animation: loading 1.5s infinite;
}
@keyframes loading {
    0% {
        max-width: 0;
    }
}

.uploadedImgWrapper{height: 100px; width: 100px; overflow: hidden; box-shadow: 0 0 3px #5f5f5f; border-radius: 50%;margin-left: auto;margin-right: auto;display: flex; align-items: center; justify-content: center;}
.uploadedImgWrapper>img{max-width: 90px;cursor: pointer;}
.viewThumbImage{max-width: 100%;display: block;margin-left: auto;margin-right: auto;}

table a,table a:hover,table a:focus{color: inherit;} 


/* #edit_category form .col-12>label,#edit_category form .col-12>input{display: block;}
#edit_category form .col-12>input{margin-top: 10px;} */

.img_upload_form{position: relative;overflow: hidden;}
.img_upload_form .btn-block{position: absolute;bottom: 0;width: 100%;margin: 0;}


.img_upload{transition: all .2s;}
.zoomScale {
  transform: scale(1.2, 1.2);
}